@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #0e0c0c;
}
::-webkit-scrollbar-thumb {
    background: white;
}

::-webkit-scrollbar-thumb:hover {
    background: whitesmoke;
}

/* all similar content styling codes */
section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.home, .about, .education, .skills, .hobbies, .photo .contact {
    font-family: 'Poppins', sans-serif;
}
.home .home-content
.about .about-content,
.education .education-content,
.skills .skills-content,
.hobbies .hobbies-content,
.photo .photo-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color:black;
    padding: 0 5px;
    background: #110505;
    transform: translateX(-50%);
}

/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 10px 0;
    b
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed ;
    background-size: cover;
    
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: rgb(214, 165, 40);
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: rgb(27, 8, 12);
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: white;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: rgb(214, 165, 40);
    font-size: 22px;
    font-weight: 600;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: whitesmoke;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}

/* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background:black;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}


/* home section styling */
.home{
    display: flex;
    height: 100vh;
    background-image: url(images/uMEQ5r.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed ;
    background-size: cover;
    color:black ;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
  width: 100%;
  display: flex;
}
.home .max-width .row{
  margin-right: 0;
}
.home .home-content .text-1{
    font-size: 27px;
    color:  black;
    font-weight: 700;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 45px;
    margin: 5px 0;
}
.home .home-content .text-4{
    color:black;
    font-size: 25px;
    font-weight: 500;
    
}
.home .home-content a{
    display:inline-block;
    background:black;
    color: #fff;
    font-size: 25px;
    padding: 6px 24px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid white;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color:black;
    background: none;
}
h2{
    position: relative;
    color:black;
    font-size: 8vw;
    -webkit-text-stroke-color: 0.3vw  #383d53;
    text-transform: uppercase;
}
h2::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    color: rgb(214, 165, 40);
    -webkit-text-stroke:0vw #383d52;
    border-right: 2px solidblack;
    overflow: hidden;
    animation: animate 6s linear infinite;
}
@keyframes animate{
    0%, 10%, 100%{
        width: 0;
    }
    70%{
        width: 100%;
    }
}
/* about section styling */

.about .title::after{
}
content: ;
.about .about-content .left{
    width: 45%;
}
.about{
    background-image: url(images/uMEQ5r.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed ;
    background-size: cover;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
    text-align: right;
    float: left;
    margin-right: 25px;  
    box-shadow: 0.5rem 1rem #635858;
}
 
.about .about-content .right{
    width: 55%;
}
.about .text{
    font-size: 25px;
    font-weight: 800;
    margin-top: 40px;
    
}

.about p{
    text-align: justify;
    font-size: 22px;
    font-weight: 400;

}

/* education section styling */
.education{
    background-image: url(images/uMEQ5r.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed ;
    background-size: cover;
}
.education .box-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 0;
    padding-left: 3rem;
}
.education .box-container .box{ 
    width: 27rem;
    margin: 4rem 1rem;
    padding-left: 4rem;
    border-left: 2rem solid #fff;
    position: relative;
}

.education .box-container .box span{
    font-size: 1.3rem;
    background: #070707;
    color: #fff;
    border-radius: 8rem;
}
.education p{
    font-size: 22px;
}
.education span{
    font-size: 25px;
}
.education h1{
    font-size: 25px;
}


/* skills section styling */
.skills{
    background-image: url(images/uMEQ5r.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed ;
    background-size: cover;
}
.skills .title::after{
    content: ;
}
.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .left p{
    text-align: justify;
    font-size: 22px;
}
.skills .skills-content .left a{
    display: inline-block;
    background:black;
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solidblack;
    transition: all 0.3s ease;
}
.skills .skills-content .left a:hover{
    color:black;
    background: none;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 20px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: gold;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: black;
}
.skills-content .right .html::before{
    width: 90%;
}
.skills-content .right .css::before{
    width: 90%;
}
.skills-content .right .js::before{
    width: 80%;
}
.skills-content .right .php::before{
    width: 80%;
}
.skills-content .right .mysql::before{
    width: 80%;
}

/*  hobbies styling */
.hobbies{
    background-image: url(images/uMEQ5r.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed ;
    background-size: cover;
    
}
.hobbies .title::after{
    content: "";
}
.cover{
    width: 900px;
    height: 400px;
    margin-top: 30px;
    display: flex;
}
.box{
    left: 50px;
    margin: 15px;
    box-shadow: 1px 0 10px #000000;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 50px;
}
img{
    width: 300px;
    height: 200px;
    display: flex;
    border: 5px solid #635858;
}

/* photo styling*/
.photo{
    background-image: url(images/uMEQ5r.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed ;
    background-size: cover;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 400px;
    width: 400px;
  }
 .photo img{
    border: 5px solid  black;
  }
/* contact section styling */
.contact{
    background-image: url() ;
    background-repeat: no-repeat;
    background-attachment: fixed ;
    background-size: cover;
}
.contact .title::after{
    content: ;
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color:black;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: black;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
    border-color: #b3b3b3;
}
.contact .right form .textarea textarea{
  padding-top: 10px;
  resize: none;
}
.contact .right form .button-area{
  display: flex;
  align-items: center;
}
.right form .button-area button{
  color: #fff;
  display: block;
  width: 160px!important;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background:black;
  border: 2px solid white;
  transition: all 0.3s ease;
}
.right form .button-area button:hover{
  color:black;
  background: none;
}
